.flex {
    display: flex;
}

.c-dark {
    color: $Dark_purple;
}

.ff-w-normal {
    font-weight: $ff-w-normal;
}

.ff-w-medium {
    font-weight: $ff-w-medium;
}

.ff-w-bold {
    font-weight: $ff-w-bold;
}