// Typography

$ff-primary: 'Work Sans';
$ff-size: 1rem;
$ff-w-normal: 400;
$ff-w-medium: 600;
$ff-w-bold: 700;


// Colors

$White: hsl(0, 0%, 100%);
$Light_pink: hsl(275, 100%, 97%);
$Grayish_purple: #ad28eb;
$Dark_purple: hsl(292, 42%, 14%);